<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer__form">
                    <h3 class="footer__form-title">Стань партнером клуба</h3>
                    <form action="" method="POST">
                        <div class="inputbox">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="inputbox">
                            <input type="text" placeholder="Телефон">
                        </div>
                        <div class="inputbox">
                            <input type="text" placeholder="Сообщение">
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="consent">
                            <label for="consent">Согласие на обработку персональных данных</label>
                        </div>
                        <button class="btn btn-primary footer__form-btn" type="button">Отправить</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer__title">DOC</div>
                <div class="footer__info">
                    <ul>
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="/about.html">О клубе</a>
                        </li>
                        <!-- <li>
                            <a href="/advantages.html">Привилегии</a>
                        </li> -->
                        <li>
                            <a href="/services.html">Сервисы</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h5>Контакты</h5>
                        </li>
                        <li>
                            <h6>Президент клуба</h6>
                            <h5>Кирилл Свердлов</h5>
                        </li>
                        <li>
                            <a href="tel:7799999000">+ 77 99 999 000</a>
                        </li>
                        <li>
                            <a href="mailto:ducati@cliub.ru" class="footer__email">ducati@cliub.ru</a>
                        </li>
                        <li>
                            <div class="footer__social">
                                <a href="#" class="footer__social-item" target="_blank" rel="noopener noreferrer">
                                    <img src="./images/social/facebook.png" alt="Facebook">
                                </a>
                                <a href="#" class="footer__social-item" target="_blank" rel="noopener noreferrer">
                                    <img src="./images/social/instagram.png" alt="Instagram">
                                </a>
                                <a href="#" class="footer__social-item" target="_blank" rel="noopener noreferrer">
                                    <img src="./images/social/vk.png" alt="VK">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="footer__authors--mobile">
                                <h6>Make-over for Andrey Morozov</h6>
                                <h6>Design for AnnDugssa</h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="footer__authors">
                    <h6>Make-over for Andrey Morozov</h6>
                    <h6>Design for AnnDugssa</h6>
                </div>
            </div>
        </div>
    </div>
</footer>