<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="header__logo" tabindex="-1">
                <picture>
                    <source srcSet="./images/logo/logo.webp 1x, ./images/logo/logo@2x.webp 2x" type="image/webp" />
                    <img src="./images/logo/logo.png" srcSet="./images/logo/logo@2x.png 2x"
                        alt="Desmo Owners Club лого" />
                </picture>
            </a>
            <nav class="header__navigation navigation">
                <button class="header__menu-btn">
                    <svg width="21" height="10" viewBox="0 0 21 10" fill="none">
                        <path d="M0 0.5H21" stroke="#fff" />
                        <path d="M0 5H21" stroke="#fff" />
                        <path d="M0 9H15" stroke="#fff" />
                    </svg>
                    Меню
                </button>
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="/">Главная</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/about.html">О клубе</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/advantages.html">Привилегии</a>
                    </li>
                    <li class="navigation__item">
                        <a href="/services.html">Сервисы</a>
                    </li>
                </ul>
                <button class="btn">Стать участником клуба</button>
            </nav>
        </div>
    </div>
</header>