<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Desmo Owners Club - Главная</title>
    <link rel="preload" href="./fonts/proxima-nova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="./styles/index.min.css">
    <link rel="stylesheet" href="./styles/home.min.css">
</head>

<body>
    {% include "header.html" %}

    <main class="home">
        <section class="home__top">
            <div class="container">
                <h1 class="home__top-title">Desmo Owners Club</h1>
                <h3 class="home__top-subtitle">St.Petersburg</h3>
                <picture>
                    <source srcSet="./images/home/home-top.webp 1x, ./images/home/home-top@2x.webp 2x"
                        type="image/webp" />
                    <img src="./images/home/home-top.jpg" srcSet="./images/home/home-top@2x.jpg 2x"
                        alt="Ducati эмблема" />
                </picture>
            </div>
        </section>
        <section class="home__about">
            <div class="container">
                <div class="row home__about-row">
                    <div class="col-sm-6">
                        <h2 class="home__about-title">
                            D.O.C — </br>
                            большое сообщество, объединяющее дукатистов
                            по всему миру
                        </h2>
                        <p class="home__about-description">
                            Международные развлекательные мероприятия, выставки, презентации, розыгрыши, гонки, тест
                            райды и
                            курсы повышения мастерства на лучших мировых треках.
                        </p>
                        <p class="home__about-description">
                            Помощь каждому и поддержка в любой стране мира, поездки в гости к другим клубам, общение и
                            расширение границ каждого мембера, это ducati, ducati и еще раз ducati и люди, которые как и
                            Вы
                            разделяет эту страсть и цвета Борго Панигале, чтобы окрасить в них свои дни.
                        </p>
                        <p class="home__about-description">
                            Присоединяйтесь к клубу владельцев Desmo и начните делать свою страсть источником гордости!
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="home__about-image">
                            <picture>
                                <source
                                    srcSet="./images/home/home-ducati-1.webp 1x, ./images/home/home-ducati-1@2x.webp 2x"
                                    type="image/webp" />
                                <img src="./images/home/home-ducati-1.jpg"
                                    srcSet="./images/home/home-ducati-1@2x.jpg 2x" alt="Ducati эмблема" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "footer.html" %}

    <script src="./scripts/index.min.js"></script>
</body>

</html>