<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Desmo Owners Club - Инструкция</title>
    <link rel="preload" href="./fonts/proxima-nova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="./styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/index.min.css">
    <link rel="stylesheet" href="./styles/instruction.min.css">
</head>

<body>
    {% include "header.html" %}

    <main class="instruction">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="instruction__info">
                        <h2 class="instruction__info-title">Инструкция для регистрации</h2>
                        <div id="accordion" class="accordion">
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false" aria-controls="collapse1">
                                        1 Заходим на сайт
                                        <a href="https://my.ducati.com/" target="_blank" rel="noopener noreferrer">
                                            my.ducati.com
                                        </a>
                                    </button>
                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <picture>
                                            <source
                                                srcSet="./images/instruction/instruction-1.webp 1x, ./images/instruction/instruction-1@2x.webp 2x"
                                                type="image/webp" />
                                            <img src="./images/instruction/instruction-1.png"
                                                srcSet="./images/instruction/instruction-1@2x.png 2x"
                                                alt="Фото-инструкция №1" />
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapse2"
                                        aria-expanded="false" aria-controls="collapse2">
                                        2 Заполняем поля |выбираем страну, проставляем галочки|
                                    </button>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <picture>
                                            <source
                                                srcSet="./images/instruction/instruction-2.webp 1x, ./images/instruction/instruction-2@2x.webp 2x"
                                                type="image/webp" />
                                            <img src="./images/instruction/instruction-2.png"
                                                srcSet="./images/instruction/instruction-2@2x.png 2x"
                                                alt="Фото-инструкция №2" />
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapse3"
                                        aria-expanded="false" aria-controls="collapse3">
                                        3 Затем заходим на почту и переходим по ссылке
                                    </button>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <picture>
                                            <source
                                                srcSet="./images/instruction/instruction-3.webp 1x, ./images/instruction/instruction-3@2x.webp 2x"
                                                type="image/webp" />
                                            <img src="./images/instruction/instruction-3.png"
                                                srcSet="./images/instruction/instruction-3@2x.png 2x"
                                                alt="Фото-инструкция №3" />
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <button class="btn collapsed" data-toggle="collapse" data-target="#collapse4"
                                        aria-expanded="false" aria-controls="collapse4">
                                        4 Кликаем на Desmo Owers Club и заполняем поля, пишем название клуба DUCATI CLUB
                                        ST.PETERSBURG
                                    </button>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <picture>
                                            <source
                                                srcSet="./images/instruction/instruction-1.webp 1x, ./images/instruction/instruction-1@2x.webp 2x"
                                                type="image/webp" />
                                            <img src="./images/instruction/instruction-1.png"
                                                srcSet="./images/instruction/instruction-1@2x.png 2x"
                                                alt="Фото-инструкция №4 Часть 1" />
                                        </picture>
                                        <picture>
                                            <source
                                                srcSet="./images/instruction/instruction-4.webp 1x, ./images/instruction/instruction-4@2x.webp 2x"
                                                type="image/webp" />
                                            <img src="./images/instruction/instruction-4.png"
                                                srcSet="./images/instruction/instruction-4@2x.png 2x"
                                                alt="Фото-инструкция №4 Часть 2" />
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="instruction__image">
                        <picture>
                            <source
                                srcSet="./images/instruction/instruction-main.webp 1x, ./images/instruction/instruction-main@2x.webp 2x"
                                type="image/webp" />
                            <img src="./images/instruction/instruction-main.jpg"
                                srcSet="./images/instruction/instruction-main@2x.jpg 2x"
                                alt="Мужчина с ребенком в клубе Ducati" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}

    <script src="./scripts/index.min.js"></script>
    <script src="./scripts/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="./scripts/lib/bootstrap.min.js"></script>
</body>

</html>