<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Desmo Owners Club - Новости</title>
    <link rel="preload" href="./fonts/proxima-nova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="./styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/index.min.css">
    <link rel="stylesheet" href="./styles/news.min.css">
</head>

<body>
    {% include "header.html" %}

    <main class="news">
        <div class="container">
            <div class="news__inner">
                <h1 class="news__title">V4 GRANTURISMO</h1>
                <div class="news__content">
                    <div class="news__content-image">
                        <picture>
                            <source srcSet="./images/home/news/news-1.webp 1x, ./images/home/news/news-1@2x.webp 2x"
                                type="image/webp" />
                            <img src="./images/home/news/news-1.jpg" srcSet="./images/home/news/news-1@2x.jpg 2x"
                                alt="V4 Granturismo" />
                        </picture>
                    </div>
                    <div class="news__content-description">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officiis repellendus
                            aspernatur molestiae quibusdam dicta dolor nesciunt id veritatis tenetur. Facere temporibus
                            soluta fuga deleniti veritatis repudiandae, facilis nam error!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas amet perferendis odit?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, dolore quia voluptate quod
                            dolor rerum voluptas, eligendi tenetur nemo corporis sint provident quos? Culpa fugit quo
                            magnam? Quia libero dolores nesciunt voluptate deleniti?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem omnis earum tempora
                            molestiae? Soluta harum nam dolores similique aliquid ut!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}

    <script src="./scripts/index.min.js"></script>
</body>

</html>