<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Desmo Owners Club - Сервисы</title>
    <link rel="preload" href="./fonts/proxima-nova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="./styles/index.min.css">
    <link rel="stylesheet" href="./styles/services.min.css">
</head>

<body>
    {% include "header.html" %}

    <main class="services">
        <div class="container">
            <section class="service__item">
                <div class="service__img">
                    <picture>
                        <source srcSet="./images/services/service.webp 1x, ./images/services/service@2x.webp 2x"
                            type="image/webp" />
                        <img src="./images/services/service.jpg" srcSet="./images/services/service@2x.jpg 2x"
                            alt="Мотоцентр РокГараж" />
                    </picture>
                </div>
                <div class="service__info">
                    <h2 class="service__info-name">Мотоцентр РокГараж</h2>
                    <p class="service__info-description">
                        Стильный мотоэвакуатор RockGarage Luxury Service Bus. </br>
                        Профессиональная перевозка мототехники всех видов и типов. </br>
                        Регистрация в МРЭО </br>
                        Техническая помощь в дороге </br>
                        Сопровождение колонны. </br>
                    </p>
                    <div>
                        <a href="tel:+79219002424" class="service__info-tel">+79219002424</a>
                    </div>
                    <div class="service__btn">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <svg width="15" height="8" viewBox="0 0 15 8" fill="none">
                                <path
                                    d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z"
                                    fill="#fff" />
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
            <section class="service__item">
                <div class="service__img">
                    <picture>
                        <source srcSet="./images/services/service.webp 1x, ./images/services/service@2x.webp 2x"
                            type="image/webp" />
                        <img src="./images/services/service.jpg" srcSet="./images/services/service@2x.jpg 2x"
                            alt="Мотоцентр РокГараж" />
                    </picture>
                </div>
                <div class="service__info">
                    <h2 class="service__info-name">Мотоцентр РокГараж</h2>
                    <p class="service__info-description">
                        Стильный мотоэвакуатор RockGarage Luxury Service Bus. </br>
                        Профессиональная перевозка мототехники всех видов и типов. </br>
                        Регистрация в МРЭО </br>
                        Техническая помощь в дороге </br>
                        Сопровождение колонны. </br>
                    </p>
                    <div>
                        <a href="tel:+79219002424" class="service__info-tel">+79219002424</a>
                    </div>
                    <div class="service__btn">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <svg width="15" height="8" viewBox="0 0 15 8" fill="none">
                                <path
                                    d="M14.3536 4.35355C14.5488 4.15829 14.5488 3.84171 14.3536 3.64645L11.1716 0.464466C10.9763 0.269204 10.6597 0.269204 10.4645 0.464466C10.2692 0.659728 10.2692 0.976311 10.4645 1.17157L13.2929 4L10.4645 6.82843C10.2692 7.02369 10.2692 7.34027 10.4645 7.53553C10.6597 7.7308 10.9763 7.7308 11.1716 7.53553L14.3536 4.35355ZM0 4.5H14V3.5H0V4.5Z"
                                    fill="#fff" />
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>

    {% include "footer.html" %}

    <script src="./scripts/index.min.js"></script>
</body>

</html>